@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
    --tamanho-da-fonte-primaria:  2.25rem;; /*24px */
    --tamanho-da-fonte-secundaria:  1.5rem; /*24px */
}
* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    /* padding: 2% 0% 0% 12%; */
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu
{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link
{
    font-family: var(--font-secundaria);
    font-size: var(--tamanho-da-fonte-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;

}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

.linkcertificado{
    text-decoration: none;
    color: #22D4FD;
}

.empty{
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.conteiner {
    /* padding: 8% 8%;
    margin: 0% 4%;
    gap: 5%; */
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.conteiner__conteudo {
    /* width: 615px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.conteiner__conteudo__titulo {
    font-size: var(--tamanho-da-fonte-primaria);
    font-family: var(--fonte-primaria);
}

.conteiner__conteudo__titulo__tituloDestaque {
    color: var(--cor-terciaria);
}

.conteiner__conteudo__texto {
    font-family: var(--fonte-primaria);
    font-size: var(--tamanho-da-fonte-secundaria);
}

.conteiner__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.conteiner__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: var(--tamanho-da-fonte-secundaria);
}

.conteiner__links__layout {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: var(--tamanho-da-fonte-secundaria);
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria)
}

.conteiner__links__layout:hover {
        background-color: var(--cor-hover);
        padding-right: 3%;
        padding-left: 3%;

}

.imagem{
    border: 2px solid var(--cor-terciaria); 
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: var(--tamanho-da-fonte-secundaria);
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
         padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .conteiner{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .conteiner__conteudo{
        width: auto;
    }
}