/*@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* essa linha serve para zerar todas tags usadas abaixo, afim de ter melhor controle dos elementos */
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    /* isso quer dizer que estamos usando 100% da tela disponivel */
    box-sizing: border-box;
    /* esta linha serve para que os elementos não ultrapasssem a borda*/
    background-color: #000000;
    color: #F6F6F6;

        height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.conteiner {
    margin: 5% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row; inseri essa linha só para deixar claro o direcionamento da flexbox*/
}

.conteiner__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* largura altura*/
    /*height: ;  altura*/
}

.conteiner__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.conteiner__conteudo__titulo__tituloDestaque {
    color: #22d4fd;
}

.conteiner__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.conteiner__links {
    display: flex;
    justify-content: space-between;
}

.conteiner__links__layout {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.imagem{
    border: 10px solid #22D4FD;
}
